//@include add-grid(1 3 1);
@include add-grid(15);
//@include add-grid(6 at 500px);
//@include add-grid(8 at 700px);
@include add-gutter(1/3);
@include add-gutter-style('split');

@include sgs-change('debug', true);

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

//$breakpoint-default-feature: max-width;

body {
	//font-size: 16px;
}

html {
	font-size: 16px;

	//@include desktop {
	//	font-size: 16px;
	//}
	//
	//@include laptop {
	//	font-size: 15px;
	//}
	//
	//@include tablets {
	//	font-size: 14px;
	//}
	//
	//@include phones {
	//	font-size: 13px;
	//}
}

.wrapper {
	//min-width: 990px;
	min-height: 100%;
	overflow: hidden;
}

.container {
	margin: 0 auto;
	//width: 970px;
	max-width: 1200px;
	@include background-grid($color: #000);

	//@include desktop {
	//	width: 970px;
	//}
	//
	//@include laptop {
	//	width: 750px;
	//}
	//
	//@include tablets {
	//	width: 480px;
	//}
	//
	//@include phones {
	//	width: 320px;
	//}
}

.title-h1 {
	font-size: 2.5rem;
	margin: 1.8rem 0;
}

.text-block {
	@extend %clearfix;
	padding-bottom: rem(20px);
	margin-bottom: rem(20px);
	border-bottom: 1px solid black;
}

.text-block__left {
	@include grid-span(2, 2);

	@include tablets {
		width: 100%;
		float: none;
	}

	img {
		display: block;
		max-width: 100%;
	}
}

.text-block__right {
	font-size: rem(15px);
	@include grid-span(6, 7);

	@include tablets {
		width: 100%;
		float: none;
		margin-left: none;
	}
}

.gallery__list {
	@extend %clearfix;
	padding: 0;
	margin: 0;
	list-style: none;
	@include add-grid(21);
	@include background-grid($color: purple);
}

.gallery__item {
	margin-bottom: rem(10px);
	@include float-span(3);

	@include tablets {
		width: 50%;
	}

	@include phones {
		width: 100%;
	}
}

.gallery__item--inner {
	//padding: 0 rem(10px);

	img {
		display: block;
		max-width: 100%;
	}
}

.block-socials {
	text-align: right;
}

.block__item {
	display: inline-block;
	width: rem(50px);
	height: rem(50px);
	background: #2f4447;
	border-radius: 50%;
}