//@include add-grid(1 3 1);
@include add-grid(12);
//@include add-grid(6 at 500px);
//@include add-grid(8 at 700px);
@include add-gutter(1/3);
@include add-gutter-style('split');

@include sgs-change('debug', true);

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	@include background-grid($color: #ccc);
}

.text-block {
	@extend %clearfix;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.text-block__left {
	float: left;
	width: 50%;

	img {
		display: block;
		max-width: 100%;
	}
}

.text-block__right {
	float: left;
	width: 47%;
	margin-left: 3%;
}

.gallery__list {
	@extend %clearfix;
	padding: 0;
	margin: 0;
	list-style: none;
}

.gallery__item {
	float: left;
	width: 25%;
	margin-bottom: 10px;
}

.gallery__item--inner {
	padding: 0 10px;

	img {
		display: block;
		max-width: 100%;
	}
}

@media (max-width: 1200px) { // desktop
	body {
		font-size: 16px;
	}

	.container {
		width: 970px;
	}
}

@media (max-width: 992px) { // laptop
	body {
		font-size: 15px;
	}

	.container {
		width: 750px;
	}
}

@media (max-width: 768px) { // tablets
	body {
		font-size: 14px;
	}

	.container {
		width: 480px;
	}

	.text-block__left {
		float: none;
		width: 100%;
	}

	.text-block__right {
		float: none;
		width: 100%;
	}

	.gallery__item {
		width: 50%;
	}
}

@media (max-width: 480px) { // phones
	body {
		font-size: 13px;
	}

	.container {
		width: auto;
	}

	.gallery__item {
		width: 100%;
	}
}